{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="{{ url_for('sell') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="stock" placeholder="Stock Symbol" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="quantity" placeholder="quantity of shares" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Sell</button>
            </div>
        </fieldset>
    </form>

<br>
<table style="width:100%">
        <thead>
                <tr>
                        <th>STOCK</th>
                        <th>SHARES</th>
                        <th>PRICE</th>
                        <th>TOTAL</th>
                </tr>
        </thead>

        <tbody>
        {% for p in port %}
        <tr>
                <td>{{ p["quote"] }}</td>
                <td>{{ p["shares"] }}</td>
                <td>{{ prices[p["quote"]] }}</td>
                <td>{{ prices[p["quote"]] * p["shares"]}}</td>
        </tr>
        {% endfor %}
        </tbody>
</table>
<br>

<table style="width:100%">
        <thead>
        <tr>
                <th>CASH</th>
                <th>INVESTMENT</th>
                <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
                <tr>
                        <td>{{ user["cash"] }}</td>
                        <td> {{ investment }}</td>
                        <td> {{ total }}</td>
                </tr>
{% endblock %}
